<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Curso Ingreso UTN FRA</title>

		<!--Estilos-->
		<link rel="stylesheet" type="text/css" href="../estilo.css">
		<link rel="stylesheet" type="text/css" href="../animacion.css">
		<!--final de Estilos-->

		<!--Lógica-Programación-->
		<script SRC="bower_components/angular/angular.min.js" TYPE="text/javascript"></script>
		<script type="text/javascript" src="jsAgilidadAritmetica1.js"></script>
        <!--Final de Lógica-Programación -->
		

		</head>
	<body ng-app="AgilidadAritmetica1" ng-controller="miControl" >
		<div class="CajaUno animated bounceInDown">
			

			<input type="text" readonly id="PrimerNumero" ng-model="valores.num1" >
			<input type="text" readonly id="Operador" ng-model="valores.operador" >
			<input type="text" readonly id="SegundoNumero" ng-model="valores.num2">
			<form id="FormIngreso">
				<input type="text"  id="Respuesta" ng-model="valores.respuesta" >
				<center>
					<img src="imagenes/interrogacion.jpg" >
				</center>
				
			</form>
			<button  class="MiBotonUTN" ng-click="Responder()" >Aceptar</button>
			<button  class="MiBotonUTN" ng-click="Comenzar()" >Comenzar</button>
		</div>
		<div class="CajaUno animated bounceInLeft">
			

			
			
		
			


		</div>

		<div class="CajaEnunciado animated bounceInLeft">
			<h2>Enunciado:</h2>
			
				<h3>
						Debemos mostrar dos números Random  del 1 al 10 y una de las cuatro operaciones básicas (suma, resta, división o multiplicación) para realizar entre estos dos números, estas operaciones también serán Random. En el cuadro de texto resultado el jugador debe ingresar el resultado de la operación y presionar el botón  Aceptar.
						se debe informar si el resultado es el correcto o no.


				</h3>
			
			
		</div>

		<div class="CajaAbajo animated bounceInUp">
			<a style=" margin-top: -10%;" class="MiBotonUTNLinea" onclick="location.href='index.html'" >Men&uacute; ejercicios</a>	
		</div>
	</body>
</html>